<!DOCTYPE html>
<html lang="de"">
<head>
    <meta charset="UTF-8">
    <title>Drink Reminder</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

    <link rel="stylesheet" href="css/styles.css">
</head>
<body ng-controller="intervalController" ng-init="reminderOnStart()">
    
    <header>
        <img src="img/icon_white.png">
        <div class="font-container">
            <h1>DrinkReminder</h1>
        </div>
    </header>

    <div class="container">
        
        <label for="interval">Erinnerungs-Interval</label>
        <input type="number" id="interval" class="form-control" placeholder="Interval (in Minuten)" ng-model="interval" ng-keyup="inputKeyUp(interval)">

        <button role="button" class="btn btn-blue fixed-bottom" ng-click="toggleReminderState()">
            Reminder {{intervalActive ? 'stoppen' : 'starten'}}
            <span ng-show="timerInSeconds > 0" class="badge badge-light">{{getFormattedTime(timerInSeconds)}}</span>
        </button>

        <div class="alert alert-{{messageState}}" role="alert" ng-show="showMsg">
            {{message}}
        </div>

        <div class="card" ng-show="lastDrink">
            <div class="card-body">
                <p class="font-weight-bold">Zuletzt getrunken:</p>
                <p>{{lastDrink}}</p>
            </div>
        </div>

    </div>    

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script type="text/javascript" src="cordova.js"></script>

    <script src="js/main.js"></script>
    <script src="js/services/historyService.js"></script>
    <script src="js/controllers/intervalController.js"></script>


    <script>
      angular.element(document).ready(function () {
        if (window.cordova) {
            console.log("Running in Cordova, will bootstrap AngularJS once 'deviceready' event fires.");
            document.addEventListener('deviceready', function () {
                console.log("Deviceready event has fired, bootstrapping AngularJS.");
                angular.bootstrap(document.body, ['drinkReminderApp']);
          }, false);
        } else {
            console.log("Running in browser, bootstrapping AngularJS now.");
            angular.bootstrap(document.body, ['drinkReminderApp']);
        }
      });
    </script>
</body>
</html>